/* Navigation bar styles */
nav {
  background-color: #303030;
  /* Greyish black background color for the navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
}

nav a {
  text-decoration: none;
  color: #0eb2e9f6;
  /* Glassy blue font color for navbar links */
  margin: 0 15px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar.active {
  left: 0;
}

.sidebar-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #0eb2e9f6;
  margin: 6px 0;
}

@media screen and (max-width: 768px) {
  .sidebar-icon {
    display: block;
  }

  .left-links,
  .right-links {
    display: none;
  }

  .about-me {
    font-size: 18px;
  }
}

.close-btn {
  font-size: 24px;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.left-links-sidebar,
.right-links-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.left-links-sidebar a,
.right-links-sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.left-links-sidebar a:hover,
.right-links-sidebar a:hover {
  text-decoration: underline;
}

.sidenav {
  margin-top: 22px;
}
